/node_modules
/projects/storage
/projects/hot
/projects/css/*
!/projects/css/bootstrap.min.css
!/projects/css/custom.css
/projects/mix-manifest.json
/projects/exports/*
/projects/js/*
!/projects/js/laroute.css
/storage/*.key
/vendor/*
storage/nginx-logs/*
/.idea
Homestead.json
Homestead.yaml
/.env
/mysql
npm-debug.log
/reports/
.vscode
storage/mysql-data/
.DS_Store
storage/*
.ssh
public/build
/composer.lock